
h1{
    text-align: center;
    background-color: #1bd6c6;
}
body{
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}
.lay{
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
}
